#head{
    color: rgb(27, 25, 25);
    background-color:rgb(189, 199, 179)
} 
body{
    
    background-image: url("https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg");
    background-position: 0%;
    background-size:cover;
    background-attachment: fixed;
}
